[submodule "modules/dotbot"]
	path = modules/dotbot
	url = https://github.com/anishathalye/dotbot

[submodule "modules/private"]
	path = modules/private
	url = git@github.com:borjapazr/dotfiles-private.git
