# If you modify this execute `zimfw uninstall & zimfw install`

zmodule zimfw/prompt-pwd
zmodule zimfw/git-info
zmodule zimfw/duration-info
zmodule zimfw/environment
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-completions
zmodule zsh-users/zsh-syntax-highlighting
zmodule Aloxaf/fzf-tab
zmodule wfxr/forgit
zmodule zimfw/archive
zmodule zimfw/git
zmodule zimfw/gitster
zmodule zimfw/homebrew
zmodule zimfw/input
zmodule zimfw/run-help
zmodule zimfw/ssh
zmodule zimfw/utility
zmodule zimfw/completion
